{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/3.ico' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Форма для отправки</title>
</head>
<body style="background: linear-gradient(45deg, rgb(207, 154, 184), rgb(172, 82, 182));border:24px solid;">
        <div style="background:#242582;">
                <ul style="text-decoration:none;list-style-type:none;">
                    <a style="display:inline-block;color:#B8860B;margin-left:15%;font-size:30px;" href="{% url 'ocn' %}"><li></i>Главная страница</li></a>
                    <a style="display:inline-block;color:#B8860B;margin-left:30%;font-size:30px;" href="{% url 'stixi' %}"><li></i>Каталог стихов</li></a>
                </ul>
        </div>
        <div>{% if user.is_authenticated %}
            <div style="display: flex; flex-direction: column; align-items: flex-end; padding: 10px 1px;">
                <a href="{% url 'my_profile' %}" style="color:#9400D3;text-decoration:none;font-size:15px;padding:5px 10px;border-radius:10px;background:#FFFFFF;margin-bottom:10px;" class="glow-on-hover">Профиль</a>
                <form action="{% url 'logout' %}" method="post" style="margin:0;">
                    {% csrf_token %}
                    <button style="color:#9400D3;text-decoration:none;font-size:15px;padding:5px 10px;margin-top:-100%;border-radius:10px;background:#FFFFFF;width:100%;border:none;cursor:pointer;margin-left:-15%" class="glow-on-hover" type="submit">Выход</button>
                </form>
            </div>
          	{% else %}
            <div style="display: flex; flex-direction: column; align-items: flex-end; padding: 10px 1px;">
                <a href="{% url 'register' %}" style="color:#9400D3;text-decoration:none;font-size:15px;padding:5px 10px;border-radius:10px;background:#FFFFFF;margin-bottom:10px;" class="glow-on-hover">Регистрация</a>
                <a href="{% url 'login' %}" style="color:#9400D3;text-decoration:none;font-size:15px;padding:5px 10px;border-radius:10px;background:#FFFFFF;" class="glow-on-hover">Вход</a>
            </div>
          	{% endif %}
        </div>
        <div>
    {% block terarium %}
    {% endblock %}
        </div>
</body>
</html>